.homePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../public/assets/PNG/background-start.png") center;
}

.titleImg {
  margin-bottom: 30px;
  width: 320px;
  height: 122px;
  z-index: 10;
  background: url("../../../public/assets/PNG/pokemon-title.png") center
    no-repeat;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.button {
  border: none;
  border-radius: 12px;
  padding: 6px 18px;
  font-size: 24px;
  color: #162739;
  margin: 0px 12px;
  cursor: pointer;
}
